<!DOCTYPE html>
<html>
  <head>
    <title>Preflight Checklist</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="app">
      <div id="header"> 
        <p>Preflight Checklist</p>  
      </div> 
      <div id="sidebar"> <!--Displays user-generated list of aircraft-->
        <div id="sidebarList">
          <button class="sidebarButton addButton" @click="addCraft">Add New Aircraft</button>
          <button v-for="craft in aircraftList" class="sidebarButton aircraftButton" :key="craft.id" @click="selectCraft(craft)">{{craft.name}}</button>
        </div>
      </div> 
      <div id="content"> <!--Displays checklist for selected aircraft with ability to add/edit/checkoff items-->

         <aircraft-display :selected="selected" :aircraft-list="aircraftList" :something-selected="somethingSelected" @item-completed="markCompleted" @toggle-item-form="toggleItemForm"></aircraft-display>
        
         <div :class="[newItemFormDisplayed ? 'newItemFormActive' : 'newItemFormHidden']">
          <form id="newItemForm">
            <label>New Checklist Item
             <input type="text" v-model="newItem.name">
            </label>
            <button @click.prevent="addNewItem">Add Item</button>
          </form>
         </div>
       
      </div>
    </div>




  <script type="text/x-template" id="aircraft-display-template">
    <div id="checklistCard" v-if="somethingSelected">
      <div class="checklistTitle" >Preflight checklist for your {{selected.name}}:</div>
      <button @click="toggleNewItemForm">+ Add Item</button>
      <div class="checklistItem" v-for="item in selected.checklistItems" :key="item.id" :class="{checklistItemCompleted: item.completed}"> <!--Need to target specific checklist item to toggle completed?-->
        <input type="checkbox" @click="toggleCompleted(item.id)">
        {{item.name}}</div>
    </div>

  </script> 



    <script src="https://unpkg.com/vue@3"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="style.css">  


  </body>
</html>