<!DOCTYPE html>
<html>
  <head>
    <title>Preflight Checklist</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="app">
      <div id="header"> 
        <p>Preflight Checklist</p>  
      </div> 
      <div id="sidebar"> <!--Displays user-generated list of aircraft-->
        <div id="sidebarList">
          <button class="sidebarButton addButton" @click="addCraft">Add New Aircraft</button>
          <button v-for="craft in aircraftList" class="sidebarButton aircraftButton" :key="craft.id" @click="selectCraft(craft)">{{craft.name}}</button>
        </div>
      </div> 
      <div id="content"> <!--Displays checklist for selected aircraft with ability to add/edit/checkoff items-->

         <aircraft-display :selected="selected" :aircraft-list="aircraftList" :something-selected="somethingSelected"></aircraft-display>
       
      </div>
    </div>




  <script type="text/x-template" id="aircraft-display-template">
    <div id="checklistCard">
      <div v-if="somethingSelected">Preflight checklist for your {{selected.name}}:</div>
      <div v-for="item in selected.checklistItems">{{item}}</div>
    </div>

  </script> 



    <script src="https://unpkg.com/vue@3"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="style.css">  


  </body>
</html>