:root {
  --headerColor:rgb(134, 255, 255);
  --sidebarColor: rgb(121, 216, 250);
  --contentColor: rgb(255, 223, 223);
  --borderColor: rgb(169, 169, 169);
}

@font-face {
  font-family: 'Questa';
  src: url('./2_questa_slab_regular_25-webfont.woff2') format('woff2'),
  url('./2_questa_slab_regular_25-webfont.woff') format('woff');
}

body {
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "header header header header header"
    "sidebar content content content content";
  height: 100vh;
}

#header {
  grid-area: header;
  background-color: var(--headerColor);
  color: rgb(91, 81, 150);
  display: flex;
  align-items: center;
  font-size: larger;
  border-bottom: 3px solid var(--borderColor);
  padding-left: 3%;
  font-weight: 900;
  font-family: 'Questa';
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--sidebarColor);
  border-right: 3px solid var(--borderColor);
  
  
}

#sidebarList {
  display: flex;
  flex-direction: column;
}

.sidebarButton {
  margin-top: 5%;
  padding: 5%;
  border: 2px solid var(--sidebarColor);
  font-family: 'Questa';
  font-weight: 500;
  
}

.sidebarButton:hover {
  border: 2px solid var(--borderColor);
}

.sidebarButton:active {
  background-color: var(--borderColor);
}

#newCraftForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formButton {
  font-family: 'Questa';
}

#newCraftInput {
  font-family: 'Questa';
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: content;
  background-color: var(--contentColor);
  font-family: 'Questa';
  background-image: url(./sky.jpg);
  background-size: cover;

}

#checklistCard {
  border: 1px solid var(--borderColor);
  padding: 5%;
  background-color: var(--headerColor);
}

.newCraftFormActive {
 visibility: visible;
}

.newCraftFormHidden {
  visibility: hidden;
}

.checklistTitle {
  margin-bottom: 5%;
}

.checklistItem {
  margin-top: 5%;
}

.checklistItemCompleted {
  text-decoration: line-through;
  color: rgb(185, 185, 185)
}

.newItemFormActive {
  visibility: visible
}

.newItemFormHidden {
  visibility: hidden;
} 


