:root {
  --headerColor:rgb(134, 255, 255);
  --sidebarColor: rgb(121, 216, 250);
  --contentColor: white;
  --borderColor: rgb(169, 169, 169);
}

body {
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "header header header header header"
    "sidebar content content content content";
  height: 100vh;
}

#header {
  grid-area: header;
  background-color: var(--headerColor);
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--borderColor);
  padding-left: 4%;
  font-weight: 900;
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--sidebarColor);
  border-right: 3px solid var(--borderColor);
  
}

#sidebarList {
  display: flex;
  flex-direction: column;
}

.sidebarButton {
  margin-top: 5%;
  padding: 5%;
  border: none
}

.addButton {

}

.addButton:hover {

}

.aircraftButton {
  
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: content;
  background-color: var(--contentColor);
}

#checklistCard {
  border: 1px solid var(--borderColor);
  padding: 5%;
  background-color: var(--headerColor);
}

.newCraftFormActive {
 visibility: visible;
}

.newCraftFormHidden {
  visibility: hidden;
}

.checklistTitle {
  font-weight: 800;
}

.checklistItemCompleted {
  text-decoration: line-through;
  color: rgb(185, 185, 185)
}

.newItemFormActive {
  visibility: visible
}

.newItemFormHidden {
  visibility: hidden;
}


